<!doctype html>
<html>
<head><meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu QR</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
  <nav>
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{ url_for('registrar') }}">Registro</a>
    <a href="{{ url_for('verify') }}">Verificar</a>
  </nav>
  <div class="container">
    <h1>Esta entrada no existe</h1>
    

    <a href="/verify">Verifica una entrada válida</a>
  </div>
</body>
</html>
