<!doctype html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{ url_for('registrar') }}">Registro</a>
    <a href="{{ url_for('verify') }}">Verificar</a>
  </nav>
  <div class="container">
    <h1>Registro de asistencia</h1>
    <form action="/submit" method="post">
      <label>Nombre: <input type="text" name="name" required></label><br><br>
      <label>Hora:
        <select name="hour">
          <option value="11am">11 am</option>
          <option value="4pm">4 pm</option>
        </select>
      </label><br><br>
      <button type="submit">Generar QR</button>
    </form>
  </div>
</body>
</html>
